button[aria-label=clear] {
 margin-right: 10px;
}


/*** Effect glitch button ***/
.buttonGlitch {
  display: block;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 30px;
  font-size: .75em;
  letter-spacing: .35em;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: #fff;
    color: #000;
  }

  &:before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 #fff;
    box-shadow: 2px 0 #fff;
  }

  &:after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 #fff;
    box-shadow: -1px 0 #fff;
  }


  &:hover:before {
    animation: glitch-test 1.5s infinite linear alternate-reverse;
  }

  &:hover:after {
    animation: glitch-test 2s infinite linear alternate;
  }

}

.linkGlitch {
  display: block;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: .35em;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    color: white;
  }

  &:before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 #fff;
    box-shadow: 2px 0 #fff;
  }

  &:after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 #fff;
    box-shadow: -1px 0 #fff;
  }


  &:hover:before {
    animation: glitch-test 1.5s infinite linear alternate-reverse;
  }

  &:hover:after {
    animation: glitch-test 2s infinite linear alternate;
  }

}

@keyframes glitch-test {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px,100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}

/*** Pre-loader ***/
.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #090909;
  animation-name: bodyLight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  font-family: Roboto;
}
.triangle{
  margin: auto;
  border-style: solid;
  border-width: 0 125px 216.5px 125px;
  border-color: transparent transparent   #F2F2F0 transparent;
  animation-name: triangleMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  &:after{
    position: absolute;
    top: 11.5px;
    left: -114px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 115px 199.2px 115px;
    border-color: transparent transparent #090909 transparent;
  }
  &-wrap{
    margin: auto;
    position: relative;
    width: 250px;
    height: 217px;
  }
  &--main{
    position: relative;
    z-index: 10;
  }
  &--red{
    left: 0;
    top: 0;
    position: absolute !important;
    border-color: transparent transparent red transparent;
    animation-delay: .5s;
  }
  &--blue{
    left: 0;
    top: 0;
    position: absolute !important;
    border-color: transparent transparent blue transparent;
    animation-delay: .3s;
  }
  &__text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    z-index: 9999;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    background-color: #090909;
    letter-spacing: 20px;
    animation-name: textAnim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
  }
}
@keyframes bodyLight{
  30%{
    filter: invert(14%);
  }
  40%{
    filter: invert(10%);
  }
  50%{
    filter: invert(7%);
  }
  60%{
    filter: invert(10%);
  }
  70%{
    filter: invert(12%);
  }
  80%{
    filter: invert(9%);
  }
  90%{
    filter: invert(14%);
  }
  100%{
    filter: invert(11%);
  }
}
@keyframes triangleMove{
  10%{
    transform: translateX(10px);
    filter: blur(3px);
  }
  20%{
    transform: translateX(4px);
    filter: blur(0);
  }
  30%{
    transform: translateX(-5px) skew(0deg);
    filter: blur(3px);
  }
  40%{
    transform: translateX(7px);
    filter: blur(0);
  }
  50%{
    transform: translateX(3px);
  }
  60%{
    transform: translateX(2px);
    filter: blur(5px);
  }
  70%{
    transform: translateX(-2px);
    filter: blur(0);
  }
  80%{
    transform: translateX(3px);
    filter: blur(2px);
  }
  90%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(3px);
  }
}
@keyframes textAnim{
  10%{
    transform: scale(1.2) skew(180deg);
  }
  11%{
    transform: scale(1) skew(180deg);
  }

  70%{
    transform: scale(1) skew(-300deg);
    filter: blur(1px);
  }

  99%{
    transform: scale(1) skew(200deg);
  }

  100%{
    transform: scale(1) skew(-200deg);

  }

}